.article-content-holder {
    width: 100%;
    min-width: 40ch;
    max-width: 100ch;
    display: flex;
    flex-direction: column;
}

.article-back {
    margin-top: 0.6rem;
    font-weight: bold;
}

.article-category {
    align-self: center;
    margin: 0.2rem 0;
    padding: 0.4rem 1.2rem;
    background-color: rgb(187, 187, 187, 0.2);
    border-radius: 1.2rem;
}

.article-title {
    align-self: center;
    font-weight: bold;
    font-size: 2.4rem;
    max-width: 30ch;
    text-align: center;
    margin: 0.4rem 0;
}

.article-timestamp {
    align-self: center;
    color: rgb(134, 134, 134);
    display: flex;
    margin: 0.8rem 0;
    font-size: 0.9rem;
}

.article-timestamp .dot {
    height: 6px;
    width: 6px;
    background-color: rgb(134, 134, 134, 0.3);
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.4rem;
    margin-top: 0.2rem;
}

.article-author {
    align-self: center;
    color: rgb(134, 134, 134);
    margin: 0.2rem 0;
    font-size: 0.9rem;
}

.article-author span {
    font-weight: bold;
    color: black;
}

.article-image img {
    width: 100%;
    border-radius: 0.8rem;
    object-fit: cover;
    height: 22rem;
    margin: 1.6rem 0;
}

.article-message {
    white-space: pre-line;
}

.article-extra {
    padding: 0 0.5rem;
    display: flex;
    gap: 0.6rem;
}

.article-like {
    margin: 0.8rem 0;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.article-like span {
    margin-top: 0.2rem;
}

.article-like-scale img {
    transition: transform 0.5s ease-in-out;
}

.article-like-scale img:hover {
    transform: scale(1.4);
}

.article-comment-form {
    background-color: white;
    border-radius: 0.5rem;    
    box-shadow: 0 0 0.4rem rgb(0, 0, 0, 0.1);
    flex: 1 1 auto;
    padding: 0.5rem 1.2rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: 1fr;
    font-size: 1rem;
}

.article-comment-form .article-comment-form-button,
.article-comment-form .article-comment-form-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-comment-form .article-comment-form-input textarea {
    padding: 0.4rem 0.6rem;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 0.2rem;
    width: 95%;
    resize: vertical;
    margin-right: 2rem;
}

.article-comment-form .article-comment-form-input textarea:focus {
    border: 1px solid #0c4981;
    outline: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.article-comment-form .article-comment-form-button button {
    background-color: #336199;
    color: white;
    border: 0;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.6rem 1.8rem;
    box-shadow: 0 0.25rem 0 #27374D;
    transition: all 0.2s ease-in;
}

.article-comment-form .article-comment-form-button button:hover {
    background-color: #27374D;
    box-shadow: 0 0.25rem 0 #0d1725;
}

.article-comments {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1.2rem;
}

.article-comments .article-comments-title {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
}