.comment-container {
    min-width: 40ch;
    max-width: 100ch;
    align-self: stretch;
    padding: 1.4rem 1.2rem;
}

.information-box {
    align-self: center;
}

.comment-list {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}