.main-article {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 45ch 1fr;
    align-items: center;
    gap: 1rem;
}

.main-article .main-article-image img {
    width: 100%;
    border-radius: 5rem;
    border-bottom-left-radius: 0;
}

.main-article .main-article-content {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: flex-start;
    max-width: 40ch;
}

.main-article-content .main-article-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.main-article-content .main-article-description {
    color: #747474;
}

.main-article-content .main-article-button button {
    background-color: #336199;
    color: white;
    border: 0;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.6rem 2.8rem;
    box-shadow: 0 0.25rem 0 #27374D;
    transition: all 0.2s ease-in;
}

.main-article-content .main-article-button button:hover {
    background-color: #27374D;
    box-shadow: 0 0.25rem 0 #0d1725;
}

.latest-articles {
    margin-top: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-articles .latest-articles-title {
    font-size: 1.2rem;
    font-weight: bold;
    align-self: flex-start;
}

.latest-articles .latest-articles-holder {
    flex: 1;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27ch, 25%));
    gap: 0.8rem;
    justify-content: flex-start;
}

.featured-article {
    background-color: white;
    padding: 0.4rem;
    border-radius: 0.5rem;    
    box-shadow: 0 0 0.2rem rgb(0, 0, 0, 0.15);
    display: grid;
    grid-template-columns: 1fr 40ch;
    max-width: 78ch;
    align-self: center;
    margin-top: 2rem;
}

.featured-article .featured-article-image img {
    width: 38ch;
    height: 16rem;
    border-radius: 0.35rem;
    object-fit: cover;
}

.featured-article .featured-article-content {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    max-width: 35ch;
}

.featured-article-content .featured-article-information {
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}

.featured-article-content .featured-article-title {
    font-size: 1.6rem;
    font-weight: bold;
}

.featured-article-content .featured-article-description {
    font-size: 0.9rem;
    color: #747474;
}

.featured-article-content .featured-article-button button {
    background-color: #336199;
    color: white;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.6rem 0.8rem;
    box-shadow: 0 0.25rem 0 #27374D;
    transition: all 0.2s ease-in;
}

.featured-article-content .featured-article-button button:hover {
    background-color: #27374D;
    box-shadow: 0 0.25rem 0 #0d1725;
}

.popular-articles {
    align-self: stretch;
    margin-top: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-articles .popular-articles-title {
    font-size: 1.2rem;
    font-weight: bold;
    align-self: flex-start;
}

.popular-articles-container
{
    background-color: white;
    padding: 0.6rem;
    border-radius: 0.5rem;    
    box-shadow: 0 0 0.4rem rgb(0, 0, 0, 0.1);
    max-width: 82ch;
    align-self: center;
    margin-top: 1.2rem;
    display: grid;
    grid-template-columns: 41ch 41ch;
}

.main-popular-article {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    max-width: 38ch;
}

.main-popular-article .main-popular-article-image img {
    width: 95%;
    height: 14rem;
    border-radius: 0.35rem;
    object-fit: cover;
}

.main-popular-article .main-popular-article-content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.main-popular-article .main-popular-article-information {
    font-size: 0.9rem;
    display: flex;
    gap: 1.4rem;
    padding-bottom: 1.2rem;
}

.main-popular-article-information .main-popular-article-category {
    font-weight: bold;
}

.main-popular-article-information .main-popular-article-time {
    color: #336199;

}

.main-popular-article-content .main-popular-article-title {
    font-size: 1.6rem;
    font-weight: bold;
}

.main-popular-article-content .main-popular-article-description {
    font-size: 0.9rem;
    color: #747474;
}

.popular-articles-container .popular-articles-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.popular-articles-list .loading-articles-prompt {
    align-self: center;    
}

.newsletter {
    margin-top: 2rem;
    max-width: 100ch;
    color: white;
    background-color: #0b51a7;
    flex: 1;
    align-self: stretch;
    padding: 1.6rem 2rem;

    display: grid;
    grid-template-columns: 1fr 30ch;
    gap: 0.8rem;
}

.newsletter .newsletter-content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.newsletter-content .newsletter-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.newsletter-content .newsletter-description {
    font-size: 0.8rem;
}

.newsletter .newsletter-input {
    align-self: center;
    justify-self: flex-end;
    padding-right: 2rem;
    position: relative;
}

.newsletter .newsletter-input input {
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
    border: 1px solid #336199;
    width: 22ch;
    padding-right: 12ch;
}

.newsletter .newsletter-input input:focus {
    border: 1px solid #0d1725;
    outline: none;
}

.newsletter .newsletter-input button {
    position: absolute;
    right: 2.15rem;
    top: 0.12rem;
    background-color: #011e42;
    border-radius: 0.4rem;
    border: 0;
    padding: 0.34rem 0.6rem;
    transition: all 0.3s ease-in;
    color: white;
}

.newsletter .newsletter-input button:hover {
    background-color: #000e24;
}