.latest-article-item {
    background-color: white;
    padding: 0.4rem;
    border-radius: 0.5rem;    
    box-shadow: 0 0 0.6rem rgb(0, 0, 0, 0.15);
}

.latest-article-item .latest-article-image img {
    width: 100%;
    height: 10rem;
    border-radius: 0.35rem;
    object-fit: cover;
}

.latest-article-item .latest-article-content {
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.latest-article-content .latest-article-information {
    font-size: 0.85rem;
    display: flex;
    gap: 0.8rem;
}

.latest-article-information .latest-article-category {
    font-weight: bold;
}

.latest-article-content .latest-article-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.latest-article-content .latest-article-description {
    font-size: 0.8rem;
    color: #747474;
}

.latest-article-information .latest-article-time {
    color: #336199;
}