.latestArticleItem {
    background-color: white;
    padding: 0.4rem;
    border-radius: 0.5rem;    
    box-shadow: 0 0 0.6rem rgb(0, 0, 0, 0.15);
}

.latestArticleItem .latestArticleImage img {
    width: 100%;
    height: 10rem;
    border-radius: 0.35rem;
    object-fit: cover;
}

.latestArticleItem .latestArticleContent {
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.latestArticleContent .latestArticleInformation {
    font-size: 0.85rem;
    display: flex;
    gap: 0.8rem;
}

.latestArticleInformation .latestArticleCategory {
    font-weight: bold;
}

.latestArticleContent .latestArticleTitle {
    font-size: 1.2rem;
    font-weight: bold;
}

.latestArticleContent .latestArticleDescription {
    font-size: 0.8rem;
    color: #747474;
}

.latestArticleInformation .latestArticleTime {
    color: #336199;
}