.popular-article-item {
    display: grid;
    grid-template-columns: 14ch 1fr;
}

.popular-article-item .popular-article-image img {
    width: 12ch;
    height: 5rem;
    border-radius: 0.25rem;
    object-fit: cover;
}

.popular-article-item .popular-article-content {
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.popular-article-content .popular-article-information {
    font-size: 0.85rem;
    display: flex;
    gap: 0.8rem;
}

.popular-article-information .popular-article-category {
    font-weight: bold;
}

.popular-article-content .popular-article-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.popular-article-information .popular-article-time {
    color: #336199;
}